#app {
  font-family: --primary-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1,h2,h3,h4,h5,h6 {
  font-family: --secondary-font-family;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
	font-family: --primary-font-family;
}

.banner {
	background-image: url("/public/images/app/BannerImage.jpg");
	background-size: auto 500%;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	padding: 3rem;
}

.background-primary {
	background-color: var(--primary-background-color);
}

.background-secondary {
	background-color: var(--secondary-background-color);
}

.boxed {
	border: 1px solid var(--primary-border-color);
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	margin: 1rem;
	padding: 1rem;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
}

.colored-text-primary {
	color: var(--primary-text-color);
}

.colored-text-secondary {
	color: var(--secondary-text-color);
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.height-min-50 {
	min-height: 50vh;
}

.height-min-100 {
	min-height: 100vh;
}

.pop {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.flatten {
	box-shadow: none;
}

.inset {
	box-shadow: inset 3px 3px 10px rgba(251, 255, 0, 0.733);
}



/* Text Types */

.mini-text {
	font-size: .75rem;
}

.sm-text {
	font-size: .85rem;
}

.med-text {
	font-size: 1.5rem;
}

.large-text {
	font-size: 2rem;
}

/* Tables */

.common-table {
	border-collapse: collapse;
	margin: 1rem auto;
	width: 100%;
}

.common-table th {
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
	font-size: 1.5rem;
	padding: 1rem;
}

.common-table td {
	border: 1px solid var(--primary-border-color);
	color: var(--primary-text-color);
	font-size: 1.25rem;
	padding: 1rem;
}

/* Widths */

.width-full {
	width: 100%;
}

.width-half {
	width: 50%;
}

.width-t {
	width: 33%;
}


/* Media Queries */

@media screen and (max-width: 768px) {
	.common-table {
		border-collapse: collapse;
		margin: 1rem auto;
		width: 50%%;
	}

	.common-table th {
		background-color: var(--primary-background-color);
		color: var(--primary-text-color);
		font-size: 1.5rem;
		padding: 1rem;
		max-width: 33%;
	}

	.common-table td {
		border: 1px solid var(--primary-border-color);
		color: var(--primary-text-color);
		font-size: 1.25rem;
		padding: 1rem;
	}

}