.contact-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px #000;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contact-display input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  width: 50%;
}

.contact-display textarea {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  max-height: 20vh;
  max-width: 95%;
  width: 50%;
}

.social-links {
  display: flex; /* Changed to flexbox for more responsive layout */
  justify-content: space-between; /* Evenly distribute icons */
  padding: 2em; /* No padding around icons */
  margin:  1vh auto; /* No margin around icons */
  width: 50%; /* Set a standard width for icons */
}

.social-links a {
  align-items: center;
  color: inherit; /* Inherit font color from parent */
  display: flex;
  padding: .5em; /* No padding around icons */
  text-decoration: none;
}

.social-links a img {
  width: 30px; /* Set a standard icon size */
  max-height: 30px;
  max-width: 100%; /* Ensure icons never exceed container size */
}

.social-links a:hover {
  opacity: 0.8; /* Subtle hover effect */
  border-radius: 50%; /* Round corners for icons */
}

.social-links li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
