/* ----------------------------ELEMENTS---------------------- */

a {
  color: var(--primary-link-color);
  text-decoration: none;
}

footer {
  align-items: center;
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin: .5rem;
  padding: .5rem .8rem;
}


/* ----------------------------CLASSES---------------------- */

.body {
  background-color: var(--primary-background-color);
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.footer a {
  color: var(--primary-button-color);
  text-decoration: none;
}

/* Use CSS transitions and animations to add some interactivity and visual effects to your elements */
.footer a:hover {
  color: var(--primary-button-hover-color);
  transition: color 0.3s ease-in-out; /* Smoothly change the color */
}


.footer-element {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  height: 5rem;
  justify-content: center;
  margin: .5rem auto;
  padding: .5rem;
}


.header {
  background-color: var(--secondary-background-color);
  box-shadow: var(--primary-shadow);
  padding: 1rem;
}

.main-content {
  background-color: var(--primary-background-color);
  padding: 3rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-panel {
  box-shadow: var(--primary-shadow);
  padding: .25rem;
}


/* ----------------------------MEDIA---------------------- */


/* Use media queries to adjust the layout and style of your elements based on the screen size and orientation of the device */
@media (max-width: 768px) {
  .footer {
    flex-wrap: nowrap; /* Wrap the footer items into multiple rows */
  }

  .main-content {
	padding: 1rem; /* Smaller padding for smaller screens */
  }

  .main-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
}