:root{
	--primary-background-color: #f5f5f5;
	--primary-panel-color: #fff;
	--primary-text-color: #333;

	--secondary-background-color: #fff;
	--secondary-panel-color: #f5f5f5;
	--secondary-text-color: #666;
}