/* Coolors.com might be a good place to get color schemes. */

/* Font imports */


:root{
	--button-hover-color: #e0e0e0;
	--button-text-color: #ffffff;
	--primary-background-color: #f7f7f7 ;
	--primary-button-color: #4CAF50;
	--primary-font-family: "Montserrat", serif;
	--primary-panel-color: #fff;
	--primary-text-color: #333333;
	--primary-border-color: #202020;
	--secondary-background-color: #f2f5fa;
	--secondary-button-color: #FF9800;
	--secondary-font-family: "Oswald", sans-serif;
	--secondary-panel-color: #f5f5f5;
	--secondary-text-color: #777777;
}
