/* About me header */
.about-me-header {
    background-color: var(--primary-panel-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 3rem auto;
    padding: 3rem;
    text-align: center;
}

.about-me-header h1 {
    color: var(--primary-text-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-me-header p {
    color: var(--secondary-text-color);
}

/* About me content */
.about-me-content {
    background-color: var(--primary-background-color);
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
}

.about-me-image {
    border-radius: 50%;
    flex: 0 0 200px;
    height: 200px;
    margin: auto;
    width: 200px;
}

.about-me-text {
    color: var(--primary-text-color);
    flex: 1;
    margin: 0 3rem;
}

/* Me area -- HomePage */
.me-area {
	align-items: center;
    display: flex;
	flex-direction: row-reverse;
	justify-content: center;
    margin-top: 3rem;
}

.me-area img {
    border-radius: 50%;
    height: auto;
    max-width: 200px;
}

.me-area p {
	text-align: end;
    color: var(--primary-text-color);
	margin: 0 3rem;
    max-width: 40%;
}

/* Contact display */

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 1rem 3rem;
	background-color: var(--color-primary);
	border-radius: 1rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	transition: transform 0.2s;
	width: 90%;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 3rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 50%;
}


.contact-display {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 1rem;
  transition: transform 0.2s;
  width: 100%;
}

.contact-display input,
.contact-display textarea {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd; /* Use lighter border color */
  width: 75%;
}

.contact-display textarea {
  max-height: 20vh;
  max-width: 95%;
}

.social-links {
  display: flex; /* Changed to flexbox for more responsive layout */
  justify-content: space-between; /* Evenly distribute icons */
  padding: 2em; /* No padding around icons */
  margin:  1vh auto; /* No margin around icons */
  width: 50%; /* Set a standard width for icons */
}

.social-links a {
  align-items: center;
  color: inherit; /* Inherit font color from parent */
  display: flex;
  padding: .5em; /* No padding around icons */
  text-decoration: none;
}

.social-links a img {
  width: 30px; /* Set a standard icon size */
  max-height: 30px;
  max-width: 100%; /* Ensure icons never exceed container size */
}

.social-links a:hover {
  opacity: 0.8; /* Subtle hover effect */
  border-radius: 50%; /* Round corners for icons */
}

.social-links li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* Media queries */
@media (max-width: 768px) {
    .about-me-content {
        padding: 2rem;
    }

    .about-me-image {
        flex: 1 0 auto;
        margin: 2rem auto;
        max-width: 200px;
    }

    .about-me-text {
        margin: 2rem auto;
        max-width: 100%;
    }

    .me-area {
        flex-direction: column;
        margin: 0 auto;
        max-width: 80%;
    }

    .me-area img {
        margin: 0 auto;
        width: 50%;
    }

    .me-area p {
        margin: 2rem auto;
        max-width: 100%;
    }
}