.about-me-header {
	background-color: var(--primary-panel-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 3rem auto;
	padding: 3rem;
}

.about-me-header h1 {
	color: var(--primary-text-color);
}

.about-me-header p {
	color: var(--secondary-text-color);
}

.about-me-content {
	background-color: var(--primary-background-color);
	display: flex;
	padding: 3rem;
}

.about-me-image {
	border-radius: 50%;
	height: auto;
	margin: auto;
}

.about-me-text {
	color: var(--primary-text-color);
	margin: 3rem 3rem auto;
}

.main-content {
	background-color: var(--primary-background-color);
	padding: 3rem;
}

.navbar-element {
	align-items: center;
	background-color: var(--primary-panel-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	height: 60px;
	justify-content: space-between;
	padding: 1rem 3rem;
}

.quote-display {
	background-image: url("/public/images/app/BannerImage.jpg");
	background-size: auto 500%;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	padding: 3rem;
}

.quote {
	color: darkgreen;
}

.tabs {
	background-color: var(--secondary-panel-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	margin: 3rem auto;
	padding: 1rem;
	max-width: 300px;
}

.tabs:hover {
	background-color: var(--primary-panel-color);
	box-shadow: 3 3 10px rgba(0, 0, 0, 0.1);
}