.button {
	background-color: var(--primary-button-color);
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--primary-button-text-color);
	cursor: pointer;
	font-size: 1rem;
	margin: 1rem;
	padding: 1rem;
}

.button:hover {
	background-color: var(--primary-button-hover-color);
	color: var(--primary-button-hover-text-color);
}

.main-content {
	background-color: var(--primary-background-color);
	padding: 3rem;
}

.quote-display {
	background-image: url("/public/images/app/BannerImage.jpg");
	background-size: auto 500%;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	padding: 3rem;
}

.quote {
	color: darkgreen;
}
