@media print {

	p {
		font-size: .7rem;
	}

	h1 {
		font-size: 1rem;
	}

	h2 {
		font-size: .85rem;
	}

	h3 {
		font-size: .75rem;
	}

	h4 {
		font-size: .65rem;
	}

	h5 {
		font-size: 0.55rem;
	}

	h6 {
		font-size: 0.45rem;
	}

	/* Markdown */
	.markdown-content pre {
		background-color: #353535;
		color: lime;
		border-radius: 0.5em;
		margin: 1em auto;
		padding: 1em;
		overflow-x: auto;
		max-width: 75%;
		text-align: start;
	}

	.markdown-content table {
		border-collapse: collapse;
		margin: 1em auto;
		max-width: 75%;
	}

	.markdown-content table th {
		border-bottom: 2px solid #e6e6e6;
		margin: 1em auto;
		padding: 0.5em;
		text-align: left;
	}

	.markdown-content table td {
		border: 1px solid #e6e6e6;
		margin: 1em auto;
		padding: 0.5em;
	}

	.markdown-content table td:first-child {
		border-left: none;
	}

	.markdown-content table td:last-child {
		border-right: none;
	}

    /* Selectors for elements to hide during printing */
    .no-print {
        display: none;
    }
}